<configuration>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <applicationInitialization>
            <add initializationPage="/" />
            <add initializationPage="/api/status" />
        </applicationInitialization>

        <modules>
            <remove name="WebDAVModule" />
        </modules>

        <handlers>
            <remove name="iisnode" />
            <add name="iisnode" path="*.js" verb="*" modules="iisnode" />
        </handlers>

        <rewrite>
            <rules>
                <rule name="CPQ Server API" stopProcessing="true">
                    <match url="/*" />
                    <!-- If you have placed your server's 'index.js' somewhere else, you will need to update this path: -->
                    <action type="Rewrite" url="app.js" />
                    <!-- See the "Installing the Sigma CPQ Server Application" section of your Installation and Administration Guide -->
                </rule>
              
            </rules>
        </rewrite>
		<iisnode debuggingEnabled="false" devErrorsEnabled="false" loggingEnabled="true" logDirectory="iisLogs" maxLogFileSizeInKB="100000" maxLogFiles="20" nodeProcessCountPerApplication="2" nodeProcessCommandLine="node.exe --max-old-space-size=2048 --expose-gc --trace-gc --trace-gc-verbose"/>
        <httpErrors existingResponse="PassThrough" />
    </system.webServer>
</configuration>
